<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>shopcart</display-name>
  <servlet>
    <servlet-name>registerproduct</servlet-name>
    <servlet-class>shopcart.controller.registerProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerproduct</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shopcarlogin</servlet-name>
    <servlet-class>shopcart.controller.loginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopcarlogin</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registeruser</servlet-name>
    <servlet-class>shopcart.controller.registerUserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registeruser</servlet-name>
    <url-pattern>/adduser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchproduct</servlet-name>
    <servlet-class>shopcart.controller.seachProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchproduct</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>change</servlet-name>
    <servlet-class>shopcart.controller.changeProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>change</servlet-name>
    <url-pattern>/changeproduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shopProduct</servlet-name>
    <servlet-class>shopcart.controller.shopProductController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shopProduct</servlet-name>
    <url-pattern>/shop</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shoppingBasket</servlet-name>
    <servlet-class>shopcart.controller.shoppingBasketController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shoppingBasket</servlet-name>
    <url-pattern>/basket</url-pattern>
  </servlet-mapping>
</web-app>